/* body */
body {
    background-color:black; 
    color: white;
}
/* head */
h1{
    color:grey;
    font-family: verdana;
}
/* the main div that contains the whole project */
.maindiv{
    background-color: white;
     color: black;
     width: 500px;
     padding: 20px;
     border-radius: 25px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
}

/* el is a short class for every div taht in the maindiv class */
.el{
   margin-bottom: 10px;
   margin-left: 50px;
}

.el input[type = "number"]{
     margin-left: 47px;
}

.el input[type= "range"]{
     width: 115px;
    margin-left: 20px;
}

/* age */
.years select{
    margin-left: 21px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
}
  /* button compute */
.el button{margin-top: 5px;}
/* footer */
    footer{
    margin-left: 40px;
}
 
