
body {
    background-color:black; 
    color: white;
}

h1{
    color:grey;
    font-family: verdana;
}

.maindiv{
    background-color: white;
     color: black;
     width: 500px;
     padding: 20px;
     border-radius: 25px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
}

.el{
   margin-bottom: 10px;
   margin-left: 50px;
}

.el input[type = "number"]{
     margin-left: 47px;
}

.el input[type= "range"]{
     width: 115px;
     margin-left: 20px;
     
}


.years select{
    margin-left: 21px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
}

.el button{margin-top: 5px;}
